<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
           https://jakarta.ee/xml/ns/jakartaee
           https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Application Display Name -->
    <display-name>ABET App</display-name>

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.ABETAppTeam.IndexServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.ABETAppTeam.AdminServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ProfessorServlet</servlet-name>
        <servlet-class>com.ABETAppTeam.ProfessorServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.ABETAppTeam.ReportServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ProfessorServlet</servlet-name>
        <url-pattern>/professor</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
</web-app>
